<div class="headphonesbody">


      <div class="headphonesMainImg" ng-style="backgroundImage" >

        <nav-dir></nav-dir>
          <div class="headerContainer">
            <h1>{{header}}</h1>
          </div>
      </div>
      <div ng-repeat='h in products'>
        <div class="headphonesProductContainer" style="height: {{h.height}}" >
          <div class="headphonesProductInfo">
            <h1>{{h.name}}</h1>
            <h5>
              ({{h.rating.amount}})
            </h5>
            <p>
              {{h.description}}
            </p>

            <ul ng-repeat="f in h.features">
              <li>
                {{f}}
              </li>
            </ul>
            <p id="buttonSection">
              ${{h.price}}
              <button class="headphonesProductButton">Explore</button>
            </p>
          </div>
          <div class="headphonesProductImgDiv" style="background-image: url({{h.image}})">
            <!-- <img class="headphonesProductImg" src="images/headphones/_0001_MNEN2-RGB-bttm.png.large.2x.png" /> -->
          </div>

      </div>
    </div>
    <end-of-page-dir></end-of-page-dir>


</div>
