<div home-dir class="homebody">
  <div class="main-top-image">
    <div>
      <nav-dir></nav-dir>
    </div>

      <div class="main-top-imageH">
        <h1 class="h">Beats<sup>X</sup> Has Arrived</h1>
        <p class="p">
          Wireless Remastered with the W1 chip
        </p>
        <button class="b1">Explore</button>
        <button ng-click="testing" class="b2">Buy on</button>
      </div>

</div>

<!-- ------------------------------------------------------------------------ -->
<div class="arrivedSmall">
  <div class="arrivedHeaderSmall">
    <h1>Beats<sup>X</sup> Has Arrived</h1>
  </div>
  <div>
    <div class="arrivedContentSmall">
      <p>
        Wireless Remastered with the w1 chip
      </p>
      <button class="arrivedContentBtnSmall">Explore</button>
      <button class="arrivedContentBtnSmall2">Buy on <i class="fa fa-apple fa-lg" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
<!-- -------------------------------------------------------- -->
<!-- <div class="new-beats-products">
  <h1 class="new-beats-products-header">New Beats Products</h1>
  <div class="wrapper">
    <div class="new-beats-imgslider">
      <p>
        Beats<sup>x</sup> - Black
      </p>
    </div>
    <div class="new-beats-imgslider2">
      <p>
        Beats Solo<sup>3</sup> Wireless - (PRODUCT)<sup>red</sup>
      </p>
    </div>
    <div class="new-beats-imgslider3">
      <p>
        Powerbeats<sup>3</sup> - Flash Blue
      </p>
    </div>
  </div>
</div> -->
<div class="new-beats-products">
  <div class="wrapper">
    <add-user-dir ></add-user-dir>
  </div>
  <div>
    <h1 class="new-beats-products-header">New Beats Products</h1>
  </div>
</div>
<div class="availableNowBeats">
  <div class="availableNowBeatsExplore">
    <h2 class="availableNowBeatsExploreH">Available Now! Beats<sup>x</sup></h2>
    <p class="availableNowBeatsExploreP">
      Beats and Apple are changing the way you listen to music<br />
      with the introduction of Apple W1 technology in Beats<sup>X</sup>
    </p>
    <button class="availableNowBeatsBtn">EXPLORE</button>
  </div>
  <div class="availableNowBeatsEmbedded">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/kwQ9gPsmHHs" frameborder="0" allowfullscreen></iframe>
  </div>

</div>
<!-- ---------------------------------------------------------------------------------------- -->
  <div class="beatsEpPremiumMain">

    <div class="beatsEpPremiumMainImg">
      <div class="beatsEpPremiumMainText">

          <h1 class="beatsEpPremiumMainH">Beats EP: Premium</h2>
          <h1 class="beatsEpPremiumMainH2">Sound Under $100</h2>
          <p class="beatsEpPremiumMainP">
            Take advantage of limited time pricing on the new Beats
          </p>
          <p class="beatsEpPremiumMainP2">
            EP headphone - now $99. Terms apply.
          </p>
          <button class="beatsEpPremiumBtn">Explore</button>

      </div>

    </div>

  </div>
  <div class="beatsEpPremiumMainSamll">
    <div class="beatsEpPremiumMainSamllImg">

    </div>
    <div class="beatsEpPremiumMainSamllText">
      <h3 style="margin-top: 0;">Beats EP: Premium Sound Under $100</h3>
      <p>
        Take advantage of limited time pricing on the new Beats EP headphone - now $99. Terms apply.
      </p>
      <button>Explore</button>
    </div>
  </div>
  <!-- -------------------------------------------------------------------- -->
  <div id="resize" class="beatsUltraVioletCollection">
    <div class="beatsUltraVioletCollectionImgMain">
      <div class="beatsUltraVioletCollectionText">

        <h1 class="beatsUltraVioletCollectionH">Beats Ultra Violet</h1>

        <h1 class="beatsUltraVioletCollectionH2">Collection</h1>

        <p class="beatsUltraVioletCollectionP">
          The Beats Ultra Violet Collection brings together the Beats
        </p>

        <p class="beatsUltraVioletCollectionP2">
          Solo<sup>3</sup> Wireless and urBeats for a bold look and iconic Beats
        </p>

        <p class="beatsUltraVioletCollectionP2">
          sound.
        </p>
        <button class="beatsUltraVioletCollectionBtn"> Explore</button>
        <div class="beatsUltraVioletCollectionSubImgDiv">

          <img class="beatsUltraVioletCollectionSubImg" src="images/main/beatsUltraVioletCollection/UV_V2 (1).png" />
          <p>
            Beats Solo<sup>3</sup> Wireless - Ultra Violet
          </p>
        </div>
            <div class="beatsUltraVioletCollectionSubImgDiv2">
              <img class="beatsUltraVioletCollectionSubImg2" src="images/main/beatsUltraVioletCollection/UV_V2.png" />
              <p>
                urBeats - Ultra Violet
              </p>
            </div>
        </div>
      </div>
    </div>

    <div class="beatsUltraVioletCollectionSmall">
      <div class="beatsUltraVioletCollectionImgSmall">

      </div>
      <div class="beatsUltraVioletCollectionTextSmall">
        <h2 class="beatsUltraVioletCollectionHSmall">Beats Ultra Violet</h2>
        <h2 class="beatsUltraVioletCollectionH2Small">Collection</h2>
        <p>
          The Beats Ultra Violet Collection brings together
        </p>
        <p>
          the beats Solo<sup>3</sup> Wireless and urBeats for a bold
        </p>
        <p>
          look and iconic Beats sound.
        </p>
        <button>Explore</button>
        <div class="beatsUltraVioletCollectionImg2Small">
          <h2>Beats Solo<sup>3</sup> Wireless - Ultra Violet</h2>
        </div>
        <div class="beatsUltraVioletCollectionImg3Small">
          <h2>urBeats - Ultra Violet</h2>
        </div>
      </div>

    </div>
    <!-- --------------------------------------------------------------------------------- -->
    <div class="beatsAlexWangMain">
      <div class="beatsAlexWangMainText">
        <h1 class="beatsAlexWangMainTextH">Beats / Alexander</h1>
        <h1 class="beatsAlexWangMainTextH2">Wang</h1>
        <p class="beatsAlexWangMainTextP">
          Beats and Alexander Wang team up for a second time to
        </p>
        <p class="beatsAlexWangMainTextP2">
          design a special edition Beats Studio Wireless
        </p>
        <p class="beatsAlexWangMainTextP2">
          headphone to inspire people to make themselves heard
        </p>
        <button class="beatsAlexWangMainTextButton">Explore</button>
      </div>
    </div>

    <div class="beatsAlexWangMainSmall">
      <div class="beatsAlexWangMainImgSmall">

      </div>
      <div class="beatsAlexWangMainTextSmall">
        <h2>Beats / Alexander Wang</h2>
        <p>
          Beats and Alexander Wang team up for a second time to design a special edition Beats
        </p>
        <p>
          Studio Wireless headphones to inspire people to make themselves heard.
        </p>
        <button class="beatsAlexWangMainTextBtnSmall">Explore</button>
      </div>
    </div>
<!-- ------------------------------------------------------------------------------------ -->
    <div class="musicMilesMain">
      <div class="musicMilesMainText">
        <h1 class="musicMilesMainTextH">Music = Miles</h1>
        <p class="musicMilesMainTextP">
          There's a stride with every song. A breath for every beat.
        </p>
        <p class="musicMilesMainTextP2">
          With up to 12 hours of battery life, Powerbeats<sup>3</sup> Wireless
        </p>
        <p class="musicMilesMainTextP2">
          lets you keep the music going and keep running.
        </p>
        <button class="musicMilesMainTextBtn">Explore</button>

      </div>
    </div>

    <div class="musicMilesMainSmall">
      <div class="musicMilesMainImgSmall">

      </div>
      <div class="musicMilesMainTextSmall">
        <h2>MUSIC = MILES</h2>
        <p>
          There's a stride with every song. A breath for every beat. With up to 12 hours of battery
        </p>
        <p>
          life, Powerbeats<sup>3</sup> Wireless lets you keep the music going and keep running
        </p>
        <button class="beatsAlexWangMainTextBtnSmall">Explore</button>
      </div>
    </div>



    <div class="beHeardMain">
      <div class="beHeardMainHeaderContainer">
        <h1 class="beHeardMainHeader">BE HEARD</h1>
        <p class="beHeardMainP">
          From the locker room to the stands, Beats inspires the world's greatest athletes and fans. It’s time to make a statement. How will you BE HEARD?
        </p>
      </div>
      <div class="beHeardMainEmbed">
        <iframe class="beHeardVideo" width="100%" height="102%" src="https://www.youtube.com/embed/5dDJEC_d3Uw" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
    <div class="productSupportMain">
      <div class="productSupportMainText">
        <h1 class="productSupportMainTextH">Product Support</h1>
        <p class="productSupportMainTextP">
          Questions about your Beats? We're here to help.
        </p>
      </div>
      <div class="productSupportMainImgs">
      <div class="productSupportMainImgsBox">
        <div class="productSupportMainImg1">
          <p class="productSupportMainP">
            SUPPORT HOME
          </p>
        </div>
        <div class="productSupportMainImg2">
          <p class="productSupportMainP">
            REGISTER YOUR BEATS
          </p>
        </div>
        <div class="productSupportMainImg3">
          <p class="productSupportMainP">
            UPDATE YOUR BEATS
          </p>
        </div>
        <div class="productSupportMainImg4">
          <p class="productSupportMainP">
            SERVICE & WARRANTY
          </p>
        </div>
      </div>
      </div>
    </div>

    <!-- ------------------------------------------------------ -->
    <div class="productSupportSmall">
      <div class="productSupportTextSmall">
        <h1>Product Support</h1>
        <p>
          Question about your Beats? We're here to help
        </p>
      </div>
      <div class="productSupportImgsSmall">
        <div class="productSupportImg1Small">

        </div>
        <div class="productSupportImg2Small">

        </div>
        <div class="productSupportImg3Small">

          </p>
        </div>
        <div class="productSupportImg4Small">

        </div>
      </div>
    </div>
    <end-of-page-dir></end-of-page-dir>
    <div class="floatingLogIn">
    <a href="http://localhost:3000/auth" ><button class="floatingLogInBtn">Log In </button></a>
    </div>

</div>
