<div style="background: #F0F0F0">
  <div>
    <nav-dir></nav-dir>
  </div>

  <div class="bswMainImg" style="background-image: url('images/BeatsStudioWireless/main/sw_hero_retina_3440x1940_V2.jpg')">

  </div>
  <div class="bswMainImgMobile">

  </div>
  <!-- ==================================================================================================================== -->
  <div class="bswFirstMain" bsw-dir>
    <div class="bswFirstLeft">
      <h1 class="bswFirstLeftH">Available</h1>
      <h1 class="bswFirstLeftH2">Colors</h1>
      <p class="bswFirstLeftP">
        Find your color
      </p>
      <div class="bswFirstLeftControlBox">

        <div class="bswFirstLeftInner1">
          <div class="bwsControl1">
            <button style="background: black" class="f1"></button>
            <p>Matte Black</p>
          </div>
          <div class="bwsControl2">
            <button style="background: #D3B395" class="f2"></button>
            <p>Gold</p>
          </div>
          <div class="bwsControl3">
            <button style="background: #969086" class="f3"></button>
            <p>Titanium</p>
          </div>
        </div>

        <div class="bswFirstLeftInner2">
          <div class="bwsControl4">
            <button style="background: black" class="f4"></button>
            <p>Gloss Black</p>
          </div>
          <div class="bwsControl5">
            <button style="background: #E5E5E5" class="f5"></button>
            <p>Gloss White</p>
          </div>
          <div class="bwsControl6">
            <button style="background: #949397" class="f6"></button>
            <p>Metallic Sky</p>
          </div>
        </div>


      </div>
    </div>
    <div class="bswFirstRightMblack"  style="display: none;">
      <div class="bswFirstRightImgslider">
        <img class="bswFirstRightImgsliderImg" src="images/BeatsStudioWireless/mBlack/_0041_MP1F2-RGB-bttm_V2.png" />
        <img class="bswFirstRightImgsliderImg2" src="images/BeatsStudioWireless/mBlack/_0049_MP1F2-RGB-front_V2.png" />
        <img class="bswFirstRightImgsliderImg3" src="images/BeatsStudioWireless/mBlack/_0048_MP1F2-RGB-side_V2.png" />
        <!-- <div class="dummy">

        </div> -->

      </div>
      <div class="bswFirstRightControls">
        <!-- <img /> -->

          <div class="bswFirstRightControlsSpan1">
            <span class="bswFirstRightControlsSpan11" >&nbsp;</span>
            <span class="bswFirstRightControlsSpan12">&nbsp;</span>
          </div>

        <div class="bswFirstRightControlsBtns">
          <button  class="bswFirstRightControlsBtn bswImgBtn1"></button>
          <button  class="bswFirstRightControlsBtn bswImgBtn2"></button>
          <button  class="bswFirstRightControlsBtn bswImgBtn3"></button>
        </div>

        <div class="bswFirstRightControlsSpan2">
          <span class="bswFirstRightControlsSpan21" >&nbsp;</span>
          <span class="bswFirstRightControlsSpan22" >&nbsp;</span>
        </div>
        <!-- <img /> -->
      </div>
    </div>
    <div class="bswFirstRightGold" style="display:none;">
      <div class="bswFirstRightImgslider">
        <img class="bswFirstRightImgsliderImg" src="images/BeatsStudioWireless/gold/_0044_overear-studio-wireless-champagne-rgb-bottom_V2.png" />
        <img class="bswFirstRightImgsliderImg2" src="images/BeatsStudioWireless/gold/_0043_overear-studio-wireless-champagne-rgb-front_V2 (1).png" />
        <img class="bswFirstRightImgsliderImg3" src="images/BeatsStudioWireless/gold/_0042_overear-studio-wireless-champagne-rgb-side_V2.png" />
        <!-- <div class="dummy">

        </div> -->
      </div>
      <div class="bswFirstRightControls">
        <!-- <img /> -->

          <div class="bswFirstRightControlsSpan1">
            <span class="bswFirstRightControlsSpan11" >&nbsp;</span>
            <span class="bswFirstRightControlsSpan12">&nbsp;</span>
          </div>

        <div class="bswFirstRightControlsBtns">
          <button  class="bswFirstRightControlsBtn bswImgBtn1"></button>
          <button  class="bswFirstRightControlsBtn bswImgBtn2"></button>
          <button  class="bswFirstRightControlsBtn bswImgBtn3"></button>
        </div>

        <div class="bswFirstRightControlsSpan2">
          <span class="bswFirstRightControlsSpan21" >&nbsp;</span>
          <span class="bswFirstRightControlsSpan22" >&nbsp;</span>
        </div>
        <!-- <img /> -->
      </div>
    </div>
    <div class="bswFirstRightTitanium" style="display:none;">
      <div class="bswFirstRightImgslider">
        <img class="bswFirstRightImgsliderImg" src="images/BeatsStudioWireless/titanium/_0038_overear-studio-wireless-titanium-rgb-bottom_V2.png" />
        <img class="bswFirstRightImgsliderImg2" src="images/BeatsStudioWireless/titanium/_0037_overear-studio-wireless-titanium-rgb-front_V2.png" />
        <img class="bswFirstRightImgsliderImg3" src="images/BeatsStudioWireless/titanium/_0036_overear-studio-wireless-titanium-rgb-side_V2.png" />
        <!-- <div class="dummy">

        </div> -->
      </div>
      <div class="bswFirstRightControls">
        <!-- <img /> -->

          <div class="bswFirstRightControlsSpan1">
            <span class="bswFirstRightControlsSpan11" >&nbsp;</span>
            <span class="bswFirstRightControlsSpan12">&nbsp;</span>
          </div>

        <div class="bswFirstRightControlsBtns">
          <button class="bswFirstRightControlsBtn bswImgBtn1"></button>
          <button class="bswFirstRightControlsBtn bswImgBtn2"></button>
          <button class="bswFirstRightControlsBtn bswImgBtn3"></button>
        </div>

        <div class="bswFirstRightControlsSpan2">
          <span class="bswFirstRightControlsSpan21" >&nbsp;</span>
          <span class="bswFirstRightControlsSpan22" >&nbsp;</span>
        </div>
        <!-- <img /> -->
      </div>
    </div>
    <div class="bswFirstRightGblack">
      <div class="bswFirstRightImgslider">
        <img class="bswFirstRightImgsliderImg" src="images/BeatsStudioWireless/gBlack/_0050_overear-studio-wireless-matte-black-rgb-bottom_V2.png" />
        <img class="bswFirstRightImgsliderImg2" src="images/BeatsStudioWireless/gBlack/_0040_overear-studio-wireless-matte-black-rgb-front_V2.png" />
        <img class="bswFirstRightImgsliderImg3" src="images/BeatsStudioWireless/gBlack/_0039_overear-studio-wireless-matte-black-rgb-side_V2.png" />
        <!-- <div class="dummy">

        </div> -->
      </div>
      <div class="bswFirstRightControls">
        <!-- <img /> -->

          <div class="bswFirstRightControlsSpan1">
            <span class="bswFirstRightControlsSpan11" >&nbsp;</span>
            <span class="bswFirstRightControlsSpan12">&nbsp;</span>
          </div>

        <div class="bswFirstRightControlsBtns">
          <button class="bswFirstRightControlsBtn bswImgBtn1"></button>
          <button class="bswFirstRightControlsBtn bswImgBtn2"></button>
          <button class="bswFirstRightControlsBtn bswImgBtn3"></button>
        </div>

        <div class="bswFirstRightControlsSpan2">
          <span class="bswFirstRightControlsSpan21" >&nbsp;</span>
          <span class="bswFirstRightControlsSpan22" >&nbsp;</span>
        </div>
        <!-- <img /> -->
      </div>
    </div>
    <div class="bswFirstRightWhite" style="display:none;">
      <div class="bswFirstRightImgslider">
        <img class="bswFirstRightImgsliderImg" src="images/BeatsStudioWireless/white/_0047_MP1G2-RGB-bttm_V2.png" />
        <img class="bswFirstRightImgsliderImg2" src="images/BeatsStudioWireless/white/_0046_MP1G2-RGB-front_V2.png" />
        <img class="bswFirstRightImgsliderImg3" src="images/BeatsStudioWireless/white/_0045_MP1G2-RGB-side_V2.png" />
        <!-- <div class="dummy">

        </div> -->
      </div>
      <div class="bswFirstRightControls">
        <!-- <img /> -->

          <div class="bswFirstRightControlsSpan1">
            <span class="bswFirstRightControlsSpan11" >&nbsp;</span>
            <span class="bswFirstRightControlsSpan12">&nbsp;</span>
          </div>

        <div class="bswFirstRightControlsBtns">
          <button class="bswFirstRightControlsBtn bswImgBtn1"></button>
          <button class="bswFirstRightControlsBtn bswImgBtn2"></button>
          <button class="bswFirstRightControlsBtn bswImgBtn3"></button>
        </div>

        <div class="bswFirstRightControlsSpan2">
          <span class="bswFirstRightControlsSpan21" >&nbsp;</span>
          <span class="bswFirstRightControlsSpan22" >&nbsp;</span>
        </div>
        <!-- <img /> -->
      </div>
    </div>
    <div class="bswFirstRightSky" style="display:none;">
      <div class="bswFirstRightImgslider">
        <img class="bswFirstRightImgsliderImg" src="images/BeatsStudioWireless/metal/MetallicSky_Hero_1800x1800_V2.png" />
        <img class="bswFirstRightImgsliderImg2" src="images/BeatsStudioWireless/metal/MetallicSky_Front_1800x1800_V2.png" />
        <img class="bswFirstRightImgsliderImg3" src="images/BeatsStudioWireless/metal/MetallicSky_Profile_1800x1800_V2.png" />
        <!-- <div class="dummy">

        </div> -->
      </div>
      <div class="bswFirstRightControls">
        <!-- <img /> -->

          <div class="bswFirstRightControlsSpan1">
            <span class="bswFirstRightControlsSpan11" >&nbsp;</span>
            <span class="bswFirstRightControlsSpan12">&nbsp;</span>
          </div>

        <div class="bswFirstRightControlsBtns">
          <button class="bswFirstRightControlsBtn bswImgBtn1"></button>
          <button class="bswFirstRightControlsBtn bswImgBtn2"></button>
          <button class="bswFirstRightControlsBtn bswImgBtn3"></button>
        </div>

        <div class="bswFirstRightControlsSpan2">
          <span class="bswFirstRightControlsSpan21" >&nbsp;</span>
          <span class="bswFirstRightControlsSpan22" >&nbsp;</span>
        </div>
        <!-- <img /> -->
      </div>
    </div>
  </div>
  <!-- ======bswFirstMainMobile========================================================================= -->
  <div class="bswFirstMainMobile" >
    <div class="bswFirstMainMobileText">
      <p class="bswFirstMainMobileTextP">
        Feel the Music Not the Wires.
      </p>
    </div>
    <div class="bswFirstMainMobileImgSlider">

    </div>
    <div class="bswFirstMainMobileImgSliderCtrls">
      <div class="bswFirstMainMobileImgSliderCtrlsDiv">
        <button style="background-color: black" class="bswFirstMainMobileImgSliderCtrlsBtn"></button>
        <button style="background-color: white"  class="bswFirstMainMobileImgSliderCtrlsBtn"></button>
        <button style="background-color: gold"  class="bswFirstMainMobileImgSliderCtrlsBtn"></button>
      </div>
    </div>
  </div>
  <!-- THIRD SECTION------------------------------------------------------------------------------------------------- -->
  <div class="bswSecondMain">
    <div class="bswSecondMainContainer">
      <div class="bswSecondMainInner1">
        <div class="bswSecondMainInnerDiv1">
          <img src="images/BeatsStudioWireless/main/_0001s_0001_studio_wireless_GlossyBlack_profile_WEB_v4_V2.jpg.large.2x.jpg" />
        </div>
        <div class="bswSecondMainInnerDiv2">
          <h1 style="margin-top: 140px;">The Music Moves</h1>
          <h1>With You</h1>
          <p>Keep the music going by pairing your Bluetooth® device for </p>
          <p>wireless freedom.</p>
        </div>
      </div>

      <div class="bswSecondMainInner2">
        <div class="bswSecondMainInner2Div1">
          <h1 style="margin-top: 170px;">Feel Your Music</h1>
          <p>With our signature DSP software, the Beats Acoustic Engine is</p>
          <p>designed to create the emotional experience that the music</p>
          <p>industry's greatest producers want you to feel.</p>
        </div>
        <div class="bswSecondMainInner2Div2" style="background: black">
          <img src="images/BeatsStudioWireless/main/_0001s_0000_studio_wireless_GlossyWhite_hero_WEB_v3_V2.jpg.large.2x.jpg"/>
        </div>
      </div>
      <div class="bswSecondMainInner3">
        <div class="bswSecondMainInner3Div1">
          <img src="images/BeatsStudioWireless/main/sw_3up_retina_1880x1880_V2.jpg.large.2x.jpg" />
        </div>
        <div class="bswSecondMainInner3Div2">
          <h1 style="margin-top: 140px;">Feel Your Music</h1>
          <h1 >On Mute</h1>
          <p>Dual-mode Adaptive Noise Canceling (ANC) strikes the </p>
          <p>perfect balance between your music and the world outside.  </p>
          <p>Even when you're not listening to music, you can cancel out </p>
          <p>external noise using ANC-only mode.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- ==bswSecondMainMobile================================================================================== -->
  <div class="bswSecondMainMobile">
    <div class="bswSecondMainMobileDiv1" >
      <div class="bswSecondMainMobileDiv1Img" style="background-image: url('images/BeatsStudioWireless/main/_0001s_0001_studio_wireless_GlossyBlack_profile_WEB_v4_V2.jpg.large.2x.jpg')">

      </div>
      <div class="bswSecondMainMobileDiv1Text">
        <h1 class="bswSecondMainMobileDiv1H1">Feel Your Music</h1>
        <p class="bswSecondMainMobileDiv1P">Keep the music by pairing your Bluethooth&reg; device for</p>
        <p class="bswSecondMainMobileDiv1P">wireless freedom</p>
      </div>
    </div>
    <div class="bswSecondMainMobileDiv2">
      <div class="bswSecondMainMobileDiv1Img" style="background-image: url('images/BeatsStudioWireless/main/_0001s_0000_studio_wireless_GlossyWhite_hero_WEB_v3_V2.jpg.large.2x.jpg')">

      </div>
      <div class="bswSecondMainMobileDiv1Text">
        <h1 class="bswSecondMainMobileDiv1H1">Feel Your Music</h1>
        <p class="bswSecondMainMobileDiv1P"> With our signature DSP software, the Beats Acoustic Engine is</p>
        <p class="bswSecondMainMobileDiv1P">designed to create the emotional experience that the music</p>
        <p class="bswSecondMainMobileDiv1P">industry's greatest producers want you to feel</p>
      </div>
    </div>
    <div class="bswSecondMainMobileDiv3" >
      <div class="bswSecondMainMobileDiv1Img" style="background-image: url('images/BeatsStudioWireless/main/sw_3up_retina_1880x1880_V2.jpg.large.2x.jpg')">

      </div>
      <div class="bswSecondMainMobileDiv1Text">
        <h1 class="bswSecondMainMobileDiv1H1">Put The World On Mute</h1>
        <p class="bswSecondMainMobileDiv1P">Dual-mode Adoptive Noise Canceling (ANC) strikes the perfect</p>
        <p class="bswSecondMainMobileDiv1P">balance between your music and the world outside. Even when</p>
        <p class="bswSecondMainMobileDiv1P">you're not listening to music, you can cancel out external noise</p>
        <p class="bswSecondMainMobileDiv1P">using ANC-only mode.</p>
      </div>
    </div>
  </div>
<!-- FOURTH SECTION PARALLAXUUU------------------------------------------------------------------- -->
<div class="bsw2xWinnerMain">

</div>
<!-- --------PARALLAXUUUUU!!!!!!!!-----------------------------kinda D8----------------------------------------------------------------- -->
  <div class="parallaxuuuMain">

    <div class="parallaxuuuText">
      <div class="parallaxuuuTextHeader" >
        <h1 class="headerOne">All-Day Charge</h1>
        <p>The rechargeable battery gives you up to 12 hours of wireless </p>
        <p>listening, with an LED fuel gauge to always let you know how </p>
        <p>much charge is left.</p>
      </div>
      <div class="parallaxuuuTextHeader" >
        <h1 class="headerOne">Flexible Fit</h1>
        <p>The streamlined Beats Studio Wireless headphone features a </p>
        <p>strong, lightweight, and comfortable headband, with soft ear </p>
        <p>cups for all-day listening.</p>
      </div>
      <div class="parallaxuuuTextHeader">
        <h1 class="headerOne">On-Ear Controls</h1>
        <p>Take calls, skip songs, and change your volume right from the </p>
        <p>headphone</p>
      </div>

    </div>

    <div class="parallaxuuuImgs">

      <div class="parallaxuuuImg one" >

      </div>

      <div class="parallaxuuuImg two" >

      </div>

      <div class="parallaxuuuImg three" >

      </div>

    </div>
  </div>
  <!-- ---------------------------------------------------------------- -->
  <div class="beforeUnboxed">

  </div>
  <!-- UNBOXED-------------------------------------------------------------------------------------- -->
  <div class="unBoxed">
    <div class="unBoxedTextBox">
      <div class="unBoxedTextBoxInner">
        <h1 class="">Unboxed</h1>
        <ul>
          <li><span>01</span>Beats  Studio Wireless headphones</li>
          <li><span>02</span>RemoteTalk cable</li>
          <li><span>03</span>USB 2.0 charging cable (USB-A to USB Micro-B)</li>
          <li><span>04</span>Hard shell carrying case</li>
          <li><span>05</span>Quick Start Guide</li>
          <li><span>06</span>Warranty Card</li>
        </ul>
        <hr />
        <p>Weight (kg) 0.26</p>
        <p>Height (mm): 203mm</p>
        <hr />
        <div class="unBoxedTextBoxInnerLowerDiv">
          <p style="color: black">PRODUCT SUPPORT</p>
          <p style="color: black" id="unBoxedTextBoxInnerLowerDivP">SAFE BUYING GUIDE</p>
        </div>
      </div>
    </div>
    <div class="unBoxedImg">

    </div>

  </div>
  <!-- unBoxedMobile======================================================================================================================= -->
  <div class="unBoxedMobile">
    <div class="unBoxedMobileDiv1">
      <h1 class="unBoxedMobileDiv1H1">UnBoxed</h1>
      <ul class="unBoxedMobileDiv1Ul">
        <li><span>01</span>Beats Studio Wireless headphones</li>
        <li><span>02</span>RemoteTalk cable</li>
        <li><span>03</span>USB 2.0 charging cable (USB-A to USB Micro-B)</li>
        <li><span>04</span>Hard shell carrying case</li>
        <li><span>05</span>Quick Start Guide</li>
        <li><span>06</span>Warranty Card</li>
      </ul>
      <br />
      <hr />
      <p class="unBoxedMobileDiv1P">Weight (kg): 0.26</p>
      <p class="unBoxedMobileDiv1P">Height (mm): 203mm</p>

      <button class="unBoxedMobileDiv1Btn">Product Support</button>
      <br />
      <button class="unBoxedMobileDiv1Btn">Safe Buying Guide</button>
    </div>
    <div class="unBoxedMobileDiv2">

    </div>

  </div>

  <!-- --------------------------------------------------------------------------------------------------- -->
  <div class="productOverview">
    <div class="productOverviewTextMain">
      <h1 class="productOverviewTextMainHeader">Product</h1>
      <h1 class="productOverviewTextMainHeader">Overview</h1>
      <p class="productOverviewTextMainP">The Beats Studio Wireless features the iconic Beats sound </p>
      <p class="productOverviewTextMainP">with Dual-Mode Adaptive Noise Canceling, plus, listen </p>
      <p class="productOverviewTextMainP">wirelessly for up to 12 hours with its Bluetooth® connection </p>
      <p class="productOverviewTextMainP">and rechargeable battery.</p>
      <div class="expandingDiv1">
        <div class="expandingDiv1Header">
          <p style="color: black">Highlights</p>
        </div>
        <div class="expandingDiv1X">
          <span class="expandingDiv1Span1">&nbsp;</span><span class="expandingDiv1Span2">&nbsp;</span>
        </div>
        <ul>
          <li>The new Beats Studio is now wireless</li>
          <li>Beats Acoustic Engine uses precision sound to deliver music the way artists want it to be heard</li>
          <li>Rechargeable battery lasts 12 hours while connected through</li>
          <li>Bluetooth® and up to 20 hours when plugged into your iOS device</li>
          <li>Adaptive Noise Canceling blocks out the world in two modes</li>
          <li>Battery fuel gauge lets you know how much power is left</li>
        </ul>
      </div>
      <div class="expandingDiv2">
        <div class="expandingDiv2Header">
          <p style="color: black">Tech Specs</p>
        </div>
        <div class="expandingDiv2X">
          <span class="expandingDiv2Span1">&nbsp;</span><span class="expandingDiv2Span2">&nbsp;</span>
        </div>
        <p style="margin: 0;">General</p>
        <hr  />
        <ul style="color: #A8A8A8">
          <li>Bluetooth®</li>
          <li>Foldable</li>
          <li>With Remote and Mic</li>
          <li>Stereo Bluetooth®</li>
          <li>Wireless</li>
          <li>On Ear</li>
        </ul>
        <p >Connections and Expansions</p>
        <hr />
        <p >Speakers</p>
        <hr />
        <ul style="color: #A8A8A8">
          <li>
            20Hz - 20kHz
          </li>
        </ul>
      </div>
      <div class="productOverviewLastDiv">
        <p class="productOverviewLastDivP">
          $379.95
        </p>
        <button class="productOverviewLastDivBtn">BUY ON</button>
      </div>

    </div>
    <div class="productOverviewImg">

    </div>
  </div>
  <div class="productOverviewMobile">
    <div class="productOverviewMobileText">
      <h1>Product Overview</h1>
      <p>The Beats Studio Wireless features the iconic Beats sound with</p>
      <p>Dual-Mode Adaptive Noise Canceling, plus, listen wirelessly for</p>
      <p>up to 12 hours with  its Bluetooth® connection and</p>
      <p>rechargeable battery</p>
      <br />
      <br />
      <br />
      <hr style="" />
      <div class="productOverviewMobileHighlights">
        <div class="productOverviewMobileHighlightsDiv1" >
          <p style=" font-size: 40px; margin-left: 50px; font-weight: bold; margin-top: 50px; color: black;" >Highlights</p>
          <ul class="productOverviewMobileHighlightsDiv1Ul">
            <li>The new Beats Studio is now wireless</li>
            <li>Beats Acoustic Engine uses precision sound to deliver music the way artists want it to be heard</li>
            <li>Rechargable battery lasts 12 hours while connected through</li>
            <li>Bluetooth and up to 20 hours when plugged into your iOS device</li>
            <li>Adaptive Noise Canceling blocks out the world in two modes</li>
            <li>Battery fuel guage lets you know how much power is left</li>

          </ul>
        </div>
        <div class="productOverviewMobileCrossDiv1" style="background: #C5C5C5">
          <span class="productOverviewMobileCrossDiv1Span1 ">&nbsp;</span>
          <span class="productOverviewMobileCrossDiv1Span2 ">&nbsp;</span>
        </div>

      </div>
      <div class="productOverviewMobileSpecs">
        <div class="productOverviewMobileSpecsDiv1">
          <p style="color: black">Tech Specs</p>
          <p style="font-size: 40px; margin:60px 0 0 70px; padding: 0;">General</p>
          <ul class="productOverviewMobileSpecsDiv1Ul">
            <li>Bluetooth</li>
            <li>foldable</li>
            <li>With Remote and Mic</li>
            <li>Stereo bluetooth</li>
            <li>Wireless</li>
            <li>On Ear</li>
          </ul>
          <h2 class="productOverviewMobileSpecsDiv1H2">Connections and Expansions</h2>
          <hr />
          <ul class="productOverviewMobileSpecsDiv1Ul">
            <li>Wireless</li>
          </ul>
          <h2 class="productOverviewMobileSpecsDiv1H2">Speakers</h2>
          <hr />
          <ul class="productOverviewMobileSpecsDiv1Ul">
            <li>20Hz - 20kHz</li>
          </ul>
        </div>
        <div class="productOverviewMobileCrossDiv2">
          <span  class="productOverviewMobileCrossDiv2Span1 ">&nbsp;</span>
          <span  class="productOverviewMobileCrossDiv2Span2 ">&nbsp;</span>
        </div>

      </div>
    </div>
    <div class="productOverviewMobileImg">

    </div>
  </div>

  <end-of-page-dir></end-of-page-dir>
</div>
