<div class="bagHtmlBody">
  <div class="bagNav">
    <div class="navItemContainer">
      <div class="navItemApple">
        <i class="fa fa-apple fa-lg" aria-hidden="true"></i>
      </div>
      <div class="navItem">
        Mac
      </div>
      <div class="navItem">
        iPad
      </div>
      <div class="navItem">
        iPhone
      </div>
      <div class="navItem">
        Watch
      </div>
      <div class="navItem">
        TV
      </div>
      <div class="navItem">
        Music
      </div>
      <div class="navItem">
        Support
      </div>
      <div class="navItemSearch">
        <!-- plx -->
        <i class="fa fa-search navItemSearchIcon" aria-hidden="true"></i>
      </div>
      <div class="navItemBag">
        <i  class="fa fa-shopping-bag" aria-hidden="true"></i>

      </div>
    </div>
  </div>
</div>
