

<!-- style="display: flex;" -->
<div class="imgsliderMainDiv" >

    <div class="imgsliderdiv1">
      <!-- <div class="imgsliderdiv2"> -->
        <ul class="imgslider">

          <li class="imgsliderli" style="background-image: url('images/main/newBeatsImgSlider/1/black-2_V2.png')">
            <!-- <img style="width: 200px;" src="images/main/newBeatsImgSlider/1/black-2_V2.png"> -->
          </li>
          <li class="imgsliderli" style="background-image: url('images/main/newBeatsImgSlider/1/white-2_V2.png')">
            <!-- <img style="width: 200px;" src="images/main/newBeatsImgSlider/1/black-2_V2.png"> -->
          </li>
          <li class="imgsliderli" style="background-image: url('images/main/newBeatsImgSlider/1/x_blue.png')">
            <!-- <img style="width: 200px;" src="images/main/newBeatsImgSlider/1/black-2_V2.png"> -->
          </li>
          <li class="imgsliderli" style="background-image: url('images/main/newBeatsImgSlider/1/x_gray.png')">
            <!-- <img style="width: 200px;" src="images/main/newBeatsImgSlider/1/black-2_V2.png"> -->
          </li>

        </ul>
      <!-- </div> -->
      <button style="background: #252525" class="imgsliderbtn"></button>
      <button style="background: #FFFFFF" class="imgsliderbtn2"></button>
      <button style="background: #3B699B" class="imgsliderbtn3"></button>
      <button style="background: #545459" class="imgsliderbtn4"></button>

    </div>
    <div class="imgsliderdiv2">
      <!-- <div class="imgsliderdiv2"> -->
        <ul class="imgslider2">

          <li class="imgsliderli" style="background-image: url('images/main/newBeatsImgSlider/2/gold_V2.png')">
            <!-- <img style="width: 200px;" src="images/main/newBeatsImgSlider/1/black-2_V2.png"> -->
          </li>
          <li class="imgsliderli" style="background-image: url('images/main/newBeatsImgSlider/2/jetblack_V2.png')">
            <!-- <img style="width: 200px;" src="images/main/newBeatsImgSlider/1/black-2_V2.png"> -->
          </li>
          <li class="imgsliderli" style="background-image: url('images/main/newBeatsImgSlider/2/rosegold_V2.png')">
            <!-- <img style="width: 200px;" src="images/main/newBeatsImgSlider/1/black-2_V2.png"> -->
          </li>
          <li class="imgsliderli" style="background-image: url('images/main/newBeatsImgSlider/2/UV_V2.png')">
            <!-- <img style="width: 200px;" src="images/main/newBeatsImgSlider/1/black-2_V2.png"> -->
          </li>

        </ul>
      <!-- </div> -->
      <button style="background: #EBD5C3" class="imgsliderbtn__1"></button>
      <button style="background: #1C1C1C" class="imgsliderbtn__2"></button>
      <button style="background: #EDCFCA" class="imgsliderbtn__3"></button>
      <button style="background: #CEBAF1" class="imgsliderbtn__4"></button>

    </div>
    <div class="imgsliderdiv3">
      <!-- <div class="imgsliderdiv2"> -->
        <ul class="imgslider3">

          <li class="imgsliderli" style="background-image: url('images/main/newBeatsImgSlider/3/shockyellow_2016-11-04_A_V2.png')">
            <!-- <img style="width: 200px;" src="images/main/newBeatsImgSlider/1/black-2_V2.png"> -->
          </li>
          
          <li class="imgsliderli" style="background-image: url('images/main/newBeatsImgSlider/3/sirenred_2016-11-04_A_V2.png')">
            <!-- <img style="width: 200px;" src="images/main/newBeatsImgSlider/1/black-2_V2.png"> -->
          </li>

          <li class="imgsliderli" style="background-image: url('images/main/newBeatsImgSlider/3/black-2_2016-11-04_A_V2.png')">
            <!-- <img style="width: 200px;" src="images/main/newBeatsImgSlider/1/black-2_V2.png"> -->
          </li>

          <li class="imgsliderli" style="background-image: url('images/main/newBeatsImgSlider/3/flashblue_2016-11-04_A_V2.png')">
            <!-- <img style="width: 200px;" src="images/main/newBeatsImgSlider/1/black-2_V2.png"> -->
          </li>

        </ul>
      <!-- </div> -->
      <button style="background: #D5E416" class="imgsliderbtn_1"></button>
      <button style="background: #F54B55" class="imgsliderbtn_2"></button>
      <button style="background: black" class="imgsliderbtn_3"></button>
      <button style="background: #008ECD" class="imgsliderbtn_4"></button>

    </div>

</div>
