<div >
  <!-- <div class="navbar">
    <img ui-sref="home" class="beats-logo-nav" src="./images/main/logo.svg" />


    <p ui-sref="headphones" id="headphones-nav" class="nav-items" style="margin-left: 7%" ng-click="changeProductsArr(1)">
      HEADPHONES
    </p>
    <i id="headphones-nav" headphones-dir class="fa fa-angle-down angle-down2" aria-hidden="true" ></i>



    <p  ui-sref="headphones" id="earphones-nav" class="nav-items" ng-click="changeProductsArr(2)">
      EARPHONES
    </p>
    <i id="earphones-nav" earphones-dir class="fa fa-angle-down angle-down" aria-hidden="true"></i>



    <p id="1" class="nav-items" style="margin-left: 8%" >
      SPEAKERS
    </p>


    <p  class="nav-items" >
      SUPPORT
    </p>

    <i class="fa fa-search" aria-hidden="true"></i>



    <i class="fa fa-bars fa-lg" aria-hidden="true" ></i>


</div> -->
<div class="navbar">
  <div class="navItemMainContainer">
    <div class="navLogo">
      <img ui-sref="home" class="beats-logo-nav" src="./images/main/logo.svg" />
    </div>
    <div class="mainNavItem" >
      <div class="mainNavItemHeadpones">
        <p>
          HEADPHONES
        </p>
      </div>
      <div class="mainNavItemAngledown">
        <i id="headphones-nav" headphones-dir class="fa fa-angle-down angle-down2" aria-hidden="true" ></i>
      </div>
    </div>

    <div class="mainNavItem" >
      <div class="mainNavItemHeadpones">
        <p>
          EARPHONES
        </p>
      </div>
      <div class="mainNavItemAngledown">
        <i id="earphones-nav" earphones-dir class="fa fa-angle-down angle-down" aria-hidden="true" ></i>
      </div>
    </div>


    <div class="mainNavItem1" >
      <p>
        SPEAKERS
      </p>
    </div>
    <div class="mainNavItem1">
      <p>
        SUPPORT
      </p>
    </div>
    <div class="navMainBars">
      <i class="fa fa-bars fa-lg bars1" aria-hidden="true" ></i>
    </div>
    <div class="navMainSearch">
      <i class="fa fa-search search1" aria-hidden="true"></i>
    </div>
  </div>
</div>
  <div class="headphones-dropdown">
    <div class="headphones-dropdown-inner">
      <div class="headphones-dropdown-inner-browse">
        <h3 class="browse-items">Browse:</h1>


              <h5 class="browse-items-list">BE HEARD</h5>


              <h5 class="browse-items-list">ALEXANDER WANG</h5>


              <h5 class="browse-items-list">(RED)</h5>


              <h5 class="browse-items-list">ULTRA VIOLET</h5>


              <h5 class="browse-items-list">BEATS ICON</h5>


              <h5 class="browse-items-list">WIRELESS</h5>


              <h5 class="browse-items-list">COLLABARATIONS</h5>


      </div>
      <div class="serena-nav">
        <img class="serena-nav-img" src="/images/main/serenaNav/headphones_7NA_retina_920x920_US.jpg.large.2x.jpg" />
        <img class="headphones-nav-img" src="/images/main/serenaNav/s3w_subnav_retina_300x300_v2.png.large.2x.png" />
        <img class="headphones-nav-img" src="images/main/serenaNav/s2_subnav_retina_300x300_v2.png.large.2x.png" />
        <img class="headphones-nav-img" src="images/main/serenaNav/sw_subnav_retina_300x300_V2.png.large.2x.png" />
        <img class="headphones-nav-img2" src="images/main/serenaNav/ep_productcard_retina_V2.png.large.2x.png" />
        <img class="headphones-nav-img2" src="images/main/serenaNav/pro_subnav_retina_300x300.png.large.2x.png" />
        <img class="headphones-nav-img2" src="images/main/serenaNav/headphones_viewall_retina_440x440.jpg.large.2x.jpg"  style="border-radius: 50%"/>
      </div>
      <div>
        <button class="nav-browse-btn">Browse All</button>
        <p class="nav-beats-caption">
          Beats Solo<sup>3</sup> Wireless in BE HEARD
        </p>
      </div>
    </div>
  </div>
  <div class="earphones-dropdown">
    <div class="earphones-dropdown-inner">

        <div class="earphones-dropdown-inner-browse">
          <h3 class="browse">Browse:</h3>

          <h5 class="browse-items-list2">BE HEARD</h5>

          <h5 class="browse-items-list2">BE RUNNING</h5>

          <h5 class="browse-items-list2">ULTRA VIOLET</h5>

          <h5 class="browse-items-list2">WIRELESS</h5>

          <h5 class="browse-items-list2">COLLABORATIONS</h5>
          <button class="nav-browse-btn2">Browse All</button>

        </div>
        <div class="lebron-nav">
          <img class="lebron-nav-img" src="/images/main/lebronNav/earphones_7na_retina_920x920.jpg.large.2x.jpg" />
          <img class="earphones-nav-img" src="images/main/lebronNav/pb3w_subnav_retina_300x300_V2.png.large.2x.png" />
          <img class="earphones-nav-img" src="images/main/lebronNav/x_subnav_retina_300x300_V2.png.large.2x.png" />
          <img class="earphones-nav-img" src="images/main/lebronNav/urbeats_subnav_retina_300x300_V2.png.large.2x.png" />
          <img class="earphones-nav-img2" src="images/main/lebronNav/earphones_viewall_retina_440x440_V2.jpg.large.2x.jpg" style="border-radius:480%" />
        </div>
        <div>
          <p class="nav-beats-caption">
            Powerbeats<sup>3</sup> Wireless in Be Heard
          </p>
        </div>

    </div>

  </div>
</div>
