<div class="headphonesbody">


      <div class="headphonesMainImg"  >

        <nav-dir></nav-dir>
          <div class="headerContainer">
            <h1>{{getHeadphones[0].type}}</h1>

          </div>
      </div>

      <div ng-repeat="p in getHeadphones">
        <div class="headphonesProductContainer" style="height: {{p.height}}">
          <div class="headphonesProductInfo">
            <h1>{{p.name}}</h1>
            <p>
              {{p.description}}
            </p>

            <ul ng-repeat="f in p.features">
              <li>
                {{f}}
              </li>
            </ul>
            <p id="buttonSection">
              ${{p.price}}
              <button ng-click="addToCart(p)" class="headphonesProductButton">Add to Cart</button>
            </p>
          </div>
          <div class="headphonesProductImgDiv" style="background-image: url({{p.imgurl}})">
          </div>
        </div>

      </div>
      <div ng-repeat="p in getHeadphones">
        <div class="headphonesProductContainerLrg" style="background-image: url('{{p.imgurl}}')">
          <button ng-click="addToCart(p)" class="headphonesProductButtonLrg">Add To Bag</button>
        </div>

      </div>

      <div class="floatingLogIn">
      <a ui-sref="bag" ><button class="floatingLogInBtn">Bag</button></a>
      </div>


    <end-of-page-dir></end-of-page-dir>


</div>


<!-- <div ng-repeat='h in getProducts'>
  <div class="headphonesProductContainer">
    <div class="headphonesProductInfo">
      <h1>{{h.name}}</h1>
      <h5>
        3
      </h5>
      <p>
        {{h.description}}
      </p>

      <ul ng-repeat="f in h.features">
        <li>
          {{f}}
        </li>
      </ul>
      <p id="buttonSection">
        ${{h.price}}
        <button class="headphonesProductButton">Explore</button>
      </p>
    </div>
    <div class="headphonesProductImgDiv" style="background-image: url({{h.image}})">

    </div>

</div>
</div> -->
