<div >

<div class="navbar">
  <div class="navItemMainContainer">
    <div class="navSearchSmall" >
      <i class="fa fa-search search1" aria-hidden="true"></i>
    </div>
    <div class="navLogo">
      <img ui-sref="home" class="beats-logo-nav" src="./images/main/logo.svg" />
    </div>
    <div class="navBarsSmall" >
      <i  ng-click="sdf()" class="fix-a-tag fa fa-bars fa-lg bars2" aria-hidden="true"></i>
    </div>
    <div class="mainNavItem" >
      <div class="mainNavItemHeadpones">
        <p id="headOut" ui-sref="headphones">
          HEADPHONES
        </p>
      </div>
      <div class="mainNavItemAngledown">
        <i id="headphones-nav" headphones-dir class="fa fa-angle-down angle-down2" aria-hidden="true" ui-sref="headphones" ></i>
      </div>
    </div>

    <div class="mainNavItem" >
      <div class="mainNavItemHeadpones">
        <p id="headOut" ui-sref="earphones">
          EARPHONES
        </p>
      </div>
      <div class="mainNavItemAngledown">
        <i id="earphones-nav" earphones-dir class="fa fa-angle-down angle-down" aria-hidden="true" ui-sref="earphones"></i>
      </div>
    </div>


    <div class="mainNavItem1" >
      <p ng-click="testing">
        SPEAKERS
      </p>
    </div>
    <div class="mainNavItem1">
      <p>
        SUPPORT
      </p>
    </div>
    <div class="navMainBars">
      <!-- <i  class="fix-a-tag fa fa-bars fa-lg bars1" aria-hidden="true"></i> -->
      <div id="burger-container" class="bars1">
        <div id="burger">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="navMainSearch">
      <i class="fa fa-search search1" aria-hidden="true"></i>
    </div>
  </div>
</div>
  <div class="headphones-dropdown">
    <div class="headphones-dropdown-inner">
      <div class="headphones-dropdown-inner-browse">
        <h3 class="browse-items">Browse:</h1>


              <h5 class="browse-items-list"><a class="browse-items-a">BE HEARD</a></h5>


              <h5 class="browse-items-list"><a class="browse-items-a">ALEXANDER WANG</a></h5>


              <h5 class="browse-items-list"><a class="browse-items-a">(RED)</a></h5>


              <h5 class="browse-items-list"><a class="browse-items-a">ULTRA VIOLET</a></h5>


              <h5 class="browse-items-list"><a class="browse-items-a">BEATS ICON</a></h5>


              <h5 class="browse-items-list"><a class="browse-items-a">WIRELESS</a></h5>


              <h5 class="browse-items-list"><a class="browse-items-a">COLLABARATIONS</a></h5>


      </div>
      <div class="serena-nav">
        <div class="serena-nav-imgDiv">
          <div class="serena-nav-imgFade">
              <div class="serena-nav-imgFadeBtn">
                <div class="serena-nav-imgFadeBtnInner"><p style="margin:0; padding-top: 7px;">
                  Explore
                </p></div>
              </div>
          </div>
        </div>
        <div class="headphones-nav-img" style="background-image: url('./images/main/serenaNav/s3w_subnav_retina_300x300_v2.png.large.2x.png')">

        </div>
        <div class="headphones-nav-img" style="background-image: url('./images/main/serenaNav/s2_subnav_retina_300x300_v2.png.large.2x.png')">

        </div>
        <div ui-sref="beatsStudioWireless" class="headphones-nav-img" style="background-image: url('./images/main/serenaNav/sw_subnav_retina_300x300_V2.png.large.2x.png')">

        </div>
        <div class="headphones-nav-img2" style="background-image: url('./images/main/serenaNav/ep_productcard_retina_V2.png.large.2x.png')">

        </div>
        <div class="headphones-nav-img2" style="background-image: url('./images/main/serenaNav/pro_subnav_retina_300x300.png.large.2x.png')">

        </div>
        <div class="headphones-nav-img3" style="background-image: url('./images/main/serenaNav/headphones_viewall_retina_440x440.jpg.large.2x.jpg')">

        </div>

        <!-- <img class="headphones-nav-img2" src="./images/main/serenaNav/ep_productcard_retina_V2.png.large.2x.png" /> -->
        <!-- <img class="headphones-nav-img2" src="./images/main/serenaNav/pro_subnav_retina_300x300.png.large.2x.png" /> -->
        <!-- <img class="headphones-nav-img2" src="./images/main/serenaNav/headphones_viewall_retina_440x440.jpg.large.2x.jpg"  style="border-radius: 50%"/> -->
      </div>
      <div>
        <button class="nav-browse-btn">Browse All</button>
        <p class="nav-beats-caption">
          Beats Solo<sup>3</sup> Wireless in BE HEARD
        </p>
      </div>
    </div>
  </div>
  <div class="earphones-dropdown">
    <div class="earphones-dropdown-inner">

        <div class="earphones-dropdown-inner-browse">
          <h3 class="browse">Browse:</h3>

          <h5 class="browse-items-list2"><a class="browse-items-a">BE HEARD</a></h5>

          <h5 class="browse-items-list2"><a class="browse-items-a">BE RUNNING</a></h5>

          <h5 class="browse-items-list2"><a class="browse-items-a">ULTRA VIOLET</a></h5>

          <h5 class="browse-items-list2"><a class="browse-items-a">WIRELESS</a></h5>

          <h5 class="browse-items-list2"><a class="browse-items-a">COLLABORATIONS</a></h5>
          <button class="nav-browse-btn2"><a>Browse All</a></button>

        </div>
        <div class="lebron-nav">
          <img class="lebron-nav-img" src="./images/main/lebronNav/earphones_7na_retina_920x920.jpg.large.2x.jpg" />
          <img class="earphones-nav-img" src="./images/main/lebronNav/pb3w_subnav_retina_300x300_V2.png.large.2x.png" />
          <img class="earphones-nav-img" src="./images/main/lebronNav/x_subnav_retina_300x300_V2.png.large.2x.png" />
          <img class="earphones-nav-img" src="./images/main/lebronNav/urbeats_subnav_retina_300x300_V2.png.large.2x.png" />
          <img class="earphones-nav-img2" src="./images/main/lebronNav/earphones_viewall_retina_440x440_V2.jpg.large.2x.jpg" style="border-radius:480%" />
        </div>
        <div>
          <p class="nav-beats-caption">
            Powerbeats<sup>3</sup> Wireless in Be Heard
          </p>
        </div>

    </div>

  </div>
  <div class="barDropdown">
    <div class="barDropdowninner">
      <div class="barDropdowndiv1">
        <p class="barDropdownItem">About Us</h2>
      </div>
      <div class="barDropdowndiv" >
        <p class="barDropdownItem1">BeatsAudio</h2>
      </div>
      <div class="barDropdowndiv">
        <p class="barDropdownItem1">Collaborations</h2>
      </div>
      <div class="barDropdowndiv" >
        <p class="barDropdownItem1" >contact Beats</h2>
      </div>
      <div class="barDropdowndiv">
        <p class="barDropdownItem1">BeatsArmy</h2>
      </div>


    </div>

  </div>
  <!-- <div id="sd" class="barDropdown">
    <div class="barDropdowndiv1">
      <p ui-sref="headphones" class="barDropdownItem">Head Phones</h2>
    </div>
    <div class="barDropdowndiv" >
      <p ui-sref="earphones" class="barDropdownItem1">Ear Phones</h2>
    </div>
  </div> -->

  <!-- <div class="floatingLogIn">
  <a href="http://localhost:3000/auth" ><button class="floatingLogInBtn">Log In </button></a>
  </div> -->
</div>
<!-- ng-click="changeProductsArr(2)" -->
